# Aliases for bash/fish

alias R='R --quiet'
alias ipython="ipython --config='~/.ipython_config.py'"

alias ls='ls -G'
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

alias ll='ls -l'

alias ..='cd ..'

alias psg='ps aux | grep -v grep | grep'

