# Aliases for bash/fish

alias R='R --quiet --no-save'
alias ipython="ipython --config='~/.ipython_config.py'"
alias slime='tmux -L slime'
alias slime-new='slime new-session -s'

alias ls='ls -G --color=auto'
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

alias ll='ls -l'
alias la='ls --almost-all'

alias ..='cd ..'

alias psg='ps aux | grep -v grep | grep'

alias ippublic='curl icanhazip.com'
alias ippublic2='wget http://ipinfo.io/ip -qO -'
