# Aliases for bash/fish

alias R='R --quiet'
alias py="ipython --config='~/.ipython_config.py'"
alias py3="ipython3 --config='~/.ipython_config.py'"

alias ls='ls -G'
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

alias ll='ls -l'

alias gb='git branch'

alias ..='cd ..'

alias psg='ps aux | grep -v grep | grep'

alias ippublic='curl icanhazip.com'

