! Jellybeans colorscheme

! vim: ft=xdefaults
*background: #151515
*foreground: #888888
! black
*color0: #1C1C1C
*color8: #404040
! red
*color1: #B85335
*color9: #CF6A4C
! green
*color2: #799D6A
*color10: #99AD6A
! yellow
*color3: #FFB964
*color11: #FAD07A
! blue
*color4: #667899
*color12: #8197BF
! magenta
*color5: #8787AF
*color13: #C6B6EE
! cyan
*color6: #668799
*color14: #8FBFDC
! white
*color7: #888888
*color15: #E8E8D3

! Xft settings
!Xft.dpi: 96
Xft.antialias: true
Xft.rgba: rgb
Xft.hinting: true
Xft.hintstyle: hintslight

! urxvt settings
URxvt*loginShell: true
URxvt*modifier: Ctrl

URxvt*cursorBlink: false
URxvt*cursorUnderline: true

URxvt*underlineURLs: true
URxvt*transparent: false
!URxvt*fading: 30

URxvt*scrollBar: false
!URxvt*scrollBar_right: true
!URxvt*scrollBar_floating: false
!URxvt*scrollstyle: plain
URxvt*secondaryScreen: true
URxvt*secondaryScroll: true

URxvt*scrollTtyKeypress: true
URxvt*scrollTtyOutput: true
URxvt*scrollWithBuffer: false
URxvt*skipScroll: true
URxvt*mouseWheelScrollPage: true

! fc-list to list fonts
URxvt*font: xft:Droid Sans Mono for Powerline:size=12
URxvt*boldFont: xft:Droid Sans\\-Bold:size=12

URxvt*saveLines: 5000
URxvt*buffered: true
URxvt*hold: false
URxvt*print-pipe: cat > $HOME/$(echo urxvt.dump.$(date +'%Y%M%d%H%m%S'))

! copy/paste in terminal
URxvt.perl-ext-common: default,matcher,selection-to-clipboard
URxvt.iso14755: false
!URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.clipboard.copycmd: xsel -ib
URxvt.clipboard.pastecmd: xsel -ob

