#include ".colors/base16-default-dark"

! Xft settings
!Xft.dpi: 96
Xft.antialias: true
Xft.rgba: rgb
Xft.hinting: true
Xft.hintstyle: hintslight

! urxvt settings
URxvt*loginShell: true
URxvt*modifier: Ctrl

URxvt*cursorBlink: false
URxvt*cursorUnderline: true

URxvt*underlineURLs: true
URxvt*transparent: false
!URxvt*fading: 30

URxvt*scrollBar: false
!URxvt*scrollBar_right: true
!URxvt*scrollBar_floating: false
!URxvt*scrollstyle: plain
URxvt*secondaryScreen: true
URxvt*secondaryScroll: true

URxvt*scrollTtyKeypress: true
URxvt*scrollTtyOutput: true
URxvt*scrollWithBuffer: false
URxvt*skipScroll: true
URxvt*mouseWheelScrollPage: true

! fc-list to list fonts
URxvt*font: xft:Inconsolata\\-dz for Powerline:style=medium:size=12
URxvt*boldFont: xft:Inconsolate\\-dz for Powerline:style=bold:size=12

URxvt*saveLines: 10000
URxvt*buffered: true
URxvt*hold: false
URxvt*print-pipe: cat > $HOME/$(echo urxvt.dump.$(date +'%Y%M%d%H%m%S'))

! copy/paste in terminal
URxvt.perl-ext-common: default,matcher,selection-to-clipboard
URxvt.iso14755: false
!URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.clipboard.copycmd: xsel -ib
URxvt.clipboard.pastecmd: xsel -ob

URxvt.internalBorder: 6
Urxvt.borderColor: black

